/* Implement your CSS code in this file. Do not change anything in any other file. Only this will be graded. */

/**** FOR DESKTOP *****/
/* The Title and Navigation ****
1.Title and navigation menu are in a row. */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items:center;
    justify-content:space-between;
    font-size: small;
}

.p {
    flex-grow: 2;
    align-self: flex-start;
    align-content: flex-start;
}

/***** Main Body ****
2. There should be a gap of 100px between div#leftContainer and div#rightContainer, and both of these div should be of equal length.
3. div#mainBody should have 50px of bottom margin.
4. div#rightContainer should be a grid layout with 3 rows of hight 160px (grid-template-rows: repeat(3, 160px)) and the 3 columns where first column is twice the width of other 2 column (grid-template-columns: 2fr 1fr 1fr;) 
5. The header tag should have a 30 px of vertical padding. */

div#mainBody {
    display: flex;
    margin-bottom: 50px;
}

div#leftContainer {
    flex-basis: 50%;
    margin-right: 10px;
    margin-right: 100px;

}

div#rightContainer {
    flex-basis: 50%;
    gap: 100px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(3, 160px);
    gap: 10px;
    grid-template-areas:
        "a b c"
        "a d e"
        "a f g";
}

.item-a {
    grid-area: a;
}

.item-b {
    grid-area: b;
}

.item-c {
    grid-area: c;
}

.item-d {
    grid-area: d;
}

.iteme {
    grid-area: e;
}

.item-f {
    grid-area: f;
}

.item-g {
    grid-area: g;
}

/***** TABLET *******
 1. body width should be 60%.
 2. div#leftContainer and div#rightContainer should be arranged in a column.
 3. Gap between div#leftContainer and div#rightContainer should be 40px
4. div#rightContainer grid should have 2 columns of equal width and 3 rows of hight 160px.
5. Set display: none for class "display_md"

*/
@media (max-device-width:1000px) {
    body {
        min-width: 60%;
    }

    header {
        flex-direction: column;
    }

    nav {
        display: row;
    }


    #mainBody {
        flex-direction: column;
        gap: 40px;
    }

    div#rightContainer {
        flex-direction: column;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 160px);
        gap: 10px;
        grid-template-areas:
            "b c"
            "d e"
            "f g";
    }

    .item-a {
        display: none;

    }

    .diplay_md {
        display: none;
    }
}

/*****  MOBILE *******
1. body should be 80% */

@media (max-width: 570px) {
    body {
        width: 80%;
    }
}